.side-column {
  width: 250px;
  min-width: 250px;
  padding-left: 1.5rem;
  background-color: #f5f5f5;
  border-right: 2px solid #cccccc;
  overflow-y: auto;
  text-align: left;
  height: calc(100vh - 42px);
  flex-shrink: 0;
}

.side-column h3 {
  margin-top: 0;
  padding-top: 0.75rem;
  font-size: 1.2em;
  color: #000000;
}

.side-column p {
  font-size: 0.9em;
  color: #000000;
}

.side-column-link
{
  color: #1a73e8;
  text-decoration: none;
}

.side-column-link:visited
{
  color: #1a73e8;
}

.side-column-link:hover
{
  text-decoration: underline;
}
